* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';

}

html,
body {
  height: 100%;
  width: 100%;
}

.parent {
  height: 100vh;
  width: 100%;
  background-color: #111;
  padding: 30px;

}

.card {
  height: 300px;
  width:250px;
  background-color: #fff;
  border-radius: 30px;
  padding: 35px;
}

.card.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.top img {
  height: 40px;
}
.top button{
  display: flex;
  align-items:center ;
  border: 1px solid #dadada;
  padding: 4px 8px;
}

